body {

    background-image: url();
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
body header {
    background-color: aliceblue;
    box-shadow: inset;
    margin: 0 auto;
    border-radius: 15px;
}body {

    background-image: url();
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
body header {
    background-color: aliceblue;
    box-shadow: inset;
    margin: 0 auto;
    border-radius: 15px;
}